* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: #282A35;
}

main ul li{
    list-style-type: none;
}

main ul li:nth-child(1){
    position:fixed;
	width:100%;
	height:100%;
	background-color:none;
	background-image:
		conic-gradient(
			at 40% top,
			transparent 130deg,
			White 124deg 225deg,
			transparent 225deg
		);
	background-size:
		65em 25em;
	background-repeat:no-repeat;
	animation: achtergrond 10s linear infinite;
}

main ul li:nth-child(2){
    position: fixed;
	width: 100%;
	height: 100%;
	background-color: none;
	background-image:
		conic-gradient(
			at 40% top,
			transparent 124deg,
			#bbb 124deg 225deg,
			transparent 225deg
		);
	background-size:
		50em 17em;
	background-repeat: no-repeat;
	animation: achtergrond2 10s linear infinite;
}

main ul li:nth-child(3){
    position:fixed;
	width:100%;
	height:100%;
	background-color:none;
	background-image:
		conic-gradient(
			at 45% top,
			transparent 135deg,
			rgb(172, 161, 161) 124deg 225deg,
			transparent 225deg
		);
	background-size:
		30em 10em;
	background-repeat:no-repeat;
	animation: achtergrond3 10s linear infinite;
}

main section:nth-of-type(1){
    position: absolute;
	width: 18em;
	height: 7em;
	background-color:yellow;
	top: 25vh;
	left: calc(50% - 9em);
	border-radius: 70% 70% 60% 60% / 70% 70%;
	animation: firework 1s ease-in-out infinite alternate;
}

main section:nth-of-type(1)::before { 
	position: absolute;
	content: ""; 
	background-color: red;
	height: 7em;
	width: 2em;
	left: 0;
	border-radius: 70% 70% 60% 60% / 70% 70%;
}

@keyframes firework {
    0%{
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(-10deg) translatey(10em);
	}
	100%{
		transform: rotate(10deg);
	}
}

@keyframes achtergrond {
    0%{
		background-position: 120vh bottom;
	}
	100%{
		background-position: calc(90vh - 40em) bottom;
	}
}

@keyframes achtergrond2 {
    0%{
		background-position: 100vh bottom;
	}
	100%{
		background-position: calc(100vh - 30em) bottom;
	}
}

@keyframes achtergrond3 {
    0%{
		background-position: 90vh bottom;
	}
	100%{
		background-position: calc(120vh - 30em) bottom;
	}
}
