* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background: #282A35;
	animation: backBlur 2s 1 9s ease-in-out;
}
main ul li {
	list-style-type: none;
}
main > ul:first-of-type li:nth-of-type(1) {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: none;
	background-image: conic-gradient( at 40% top, transparent 130deg, White 124deg 225deg, transparent 225deg);
	background-size: 65em 25em;
	background-repeat: no-repeat;
	animation: achtergrond 8s linear 1;
	background-position: calc(120vh - 30em) bottom;
}
main > ul:first-of-type li:nth-of-type(2) {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: none;
	background-image: conic-gradient( at 40% top, transparent 124deg, #bbb 124deg 225deg, transparent 225deg);
	background-size: 50em 17em;
	background-repeat: no-repeat;
	animation: achtergrond2 8s linear 1;
	background-position: calc(100vh - 30em) bottom;
}
main > ul:first-of-type li:nth-of-type(3) {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: none;
	background-image: conic-gradient( at 45% top, transparent 135deg, rgb(172, 161, 161) 124deg 225deg, transparent 225deg);
	background-size: 30em 10em;
	background-repeat: no-repeat;
	animation: achtergrond3 8s linear 1;
	background-position: calc(90vh - 40em) bottom;
}
main > section:nth-of-type(1) {
	position: absolute;
	width: 18em;
	height: 7em;
	background-color: grey;
	top: 25vh;
	left: calc(50% - 9em);
	border-radius: 0% 70% 60% 0% / 70% 70%;
	animation: firework 10s 1 ease-in-out;
	visibility: hidden;
}
main > section:nth-of-type(1)::before {
	position: absolute;
	content: "";
	background-color: white;
	height: 7em;
	width: 2em;
	left: 0;
}
main > section:nth-of-type(1) ul{
	position: relative;
	transform: rotate(220deg);
	transform-origin: 4em;
	animation: fireEngine .15s ease-in infinite;
}
main > section:nth-of-type(1) ul li{
	position: absolute;
	bottom: 4em;
	left: 4em;
	border-radius: 50% 0 50% 0;
}
main > section:nth-of-type(1) ul li:nth-of-type(1){
	height: 7em;
	width: 7em;
	background-color: orangered;
}
main > section:nth-of-type(1) ul li:nth-of-type(2){
	height: 6em;
	width: 6em;
	background-color: orange;
}
main > section:nth-of-type(1) ul li:nth-of-type(3){
	height: 5em;
	width: 5em;
	background-color: gold;
}
main > section:nth-of-type(1) ul li:nth-of-type(4){
	height: 4em;
	width: 4em;
	background-color: lightyellow;
}
main > ul:nth-of-type(2) li {
	visibility: hidden;
}
main > ul:nth-of-type(2) li:nth-of-type(1) {
	width: 5em;
	height: 5em;
	background-color: rgba(255, 78, 157, 0.4);
	border-radius: 50%;
	position: absolute;
	left: calc(50% - 2.5em);
	bottom: -5em;
	animation: explosion 6s 1 8.75s ease-in-out;
}
main > ul:nth-of-type(2) li:nth-of-type(2) {
	width: 5em;
	height: 5em;
	background-color: rgba(195, 222, 66, 0.4);
	border-radius: 50%;
	position: absolute;
	left: calc(45% - 2.5em);
	bottom: -8em;
	animation: explosion 4s 1 9s ease-in-out;
}
main > ul:nth-of-type(2) li:nth-of-type(3) {
	width: 5em;
	height: 5em;
	background-color: rgba(255, 160, 55, 0.4);
	border-radius: 50%;
	position: absolute;
	left: calc(55% - 2.5em);
	bottom: -8em;
	animation: explosion 6s 1 9.25s ease-in-out;
}
main > ul:nth-of-type(2) li:nth-of-type(4) {
	width: 5em;
	height: 5em;
	background-color: rgba(0, 152, 163, 0.4);
	border-radius: 50%;
	position: absolute;
	left: calc(50% - 2.5em);
	bottom: -11em;
	animation: explosion 4s 1 9.5s ease-in-out;
}
main > ul:nth-of-type(2) li:nth-of-type(5) {
	width: 5em;
	height: 5em;
	background-color: rgba(255, 255, 163, 0.4);
	border-radius: 50%;
	position: absolute;
	left: calc(40% - 2.5em);
	bottom: -11em;
	animation: explosion 6s 1 9.75s ease-in-out;
}
main > ul:nth-of-type(2) li:nth-of-type(6) {
	width: 5em;
	height: 5em;
	background-color: rgba(255, 0, 163, 0.4);
	border-radius: 50%;
	position: absolute;
	left: calc(60% - 2.5em);
	bottom: -11em;
	animation: explosion 4s 1 10s ease-in-out;
}
main > ul:nth-of-type(2) li:nth-of-type(7) {
	width: 5em;
	height: 5em;
	background-color: rgba(255, 135, 0, 0.4);
	border-radius: 50%;
	position: absolute;
	left: calc(50% - 2.5em);
	bottom: -16.5em;
}
@keyframes firework {
	0% {
		visibility: visible;
		transform: translatey(0em);
	}
	10% {
		transform: translatey(6em);
	}
	20% {
		transform: translatey(0);
	}
	30% {
		transform: translatey(6em);
	}
	40% {
		transform: translatey(0);
	}
	50% {
		transform: translatey(6em);
	}
	60% {
		transform: translatey(0);
	}
	70% {
		transform: translatey(6em);
	}
	80% {
		transform: translatey(0);
	}
	92% {
		transform: rotate(180deg) translatey(-100vh);
	}
	100% {
		transform: rotate(180deg) translatey(-100vh);
		visibility: hidden;
	}
}
@keyframes achtergrond {
	0% {
		background-position: 90vh bottom;
	}
	100% {
		background-position: calc(120vh - 30em) bottom;
	}
}
@keyframes achtergrond2 {
	0% {
		background-position: 100vh bottom;
	}
	100% {
		background-position: calc(100vh - 30em) bottom;
	}
}
@keyframes achtergrond3 {
	0% {
		background-position: 120vh bottom;
	}
	100% {
		background-position: calc(90vh - 40em) bottom;
	}
}
@keyframes explosion {
	0% {
		transform: 0;
		visibility: visible;
	}
	10% {
		transform:scale(20);
	}
	100% {
		transform:scale(0);
		filter: blur(1em);
	}
}
@keyframes fireEngine {
	0% {
		transform: rotate(219deg);
	}
	20% {
		transform: rotate(222deg) scaleY(1.05);
	}
	40% {
		transform: rotate(219deg);
	}
	40% {
		transform: rotate(221deg);
	}
	80% {
		transform: rotate(218deg) scaleY(0.90);
	}
	100% {
		transform: rotate(221deg);
	}
}