@import url(../styles/bergen.css);
@import url(../styles/controls.css);
@import url(../styles/explosie.css);
@import url(../styles/raket.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--lucht-achtergrond: #071e2c;
	--berg-achtergrond1: #ffffff;
	--berg-achtergrond2: #bbb;
	--berg-achtergrond3: rgb(172, 161, 161);
	--raket-kleur: #FF007F;
	--raket-kleur-achter: #fff;
	--button-positie-left: 3vw;
	--button-positie-top: 7vh;
}
main {
	position: relative;
	height: 100vh;
	overflow: hidden;
	background: var(--lucht-achtergrond);
	font-family: 'Montserrat Alternates', sans-serif;
}
main ul li {
	list-style-type: none;
}
/* responsiveness voor de controls */
@media only screen and (max-width: 900px) {
	main h1 {
	  display: none;
	}
	main > label:not(label:nth-of-type(1)) {
		left: calc(var(--button-positie-left));
	}
	main > label[for="raket-k2"] {
		top: calc(var(--button-positie-top) + 7vh);
	}
	main > label[for="raket-k3"] {
		top: calc(var(--button-positie-top) + 14vh);
	}
	main > label[for="raket-k4"] {
		top: calc(var(--button-positie-top) + 21vh);
	}
	main > label[for="raket-k5"] {
		top: calc(var(--button-positie-top) + 28vh);
	}
	main > label[for="raket-k6"] {
		top: calc(var(--button-positie-top) + 35vh);
	}
}